

  <div class="bv-section-insider"  style="background-image: url('{{site.img}}/content/insidertipps/hero.jpg'); background-position: center center">

    <div class="container vpad--xxxl text--left text--xxl ">

      <div class="container container--no-padding text--center">
        <h2 class="sub-title--lg ">Typisch Italien</h2>
        <h1 class="banner-title ">Unsere Geheimtipps</h1>
      <h2 class="sub-title--lg"> </h2>
        <div class="space--md"></div>
  <a href="{{site.baseurl}}/insidertipps" class="btn btn--i-red" >Inspiririen lassen</a>
      </div>
  </div>


</div>
