// general styles for the project that wouldn't be a reuseable component


/* ==========================================================================
   Typo
   ========================================================================== */

   .bv-title-divider::after{
     content: url(../img/icons/divider-w.svg);
     display: block;
     margin-top: -5px;
     //margin-bottom: -20px;
     transform: scale(.65);

     @include bp($md) {
       content: url(../img/icons/divider-w.svg);
       display: block;
       margin-top: 10px;
       //margin-bottom: -20px;
       transform: scale(.5);

     }

     @include bp($xl) {
       content: url(../img/icons/divider-w.svg);
       display: block;
       margin-top: 2px;
       //margin-bottom: -20px;
       transform: scale(.3);

     }

   }


  .bv-headline-divider::after {
    content: ('–––');
    display: block;
    color: $i-blue;
    font-size: $s5;
    letter-spacing: -4px;
    margin: -3px 0 -2px 2px;
  }

   .bv-lineheight{
    line-height: 1.2em;
   }

   .bv-mob-left {
     text-align: center;
   }

   @media only screen and (max-width: 768px) {

     .bv-mob-left {
     text-align: left;
     //color: #ff0;
     }
   }

   .bv-mob-center {
      text-align: left;
    }

    @media only screen and (max-width: 768px) {

      .bv-mob-center {
      text-align: center;
      margin-left: 0;
      //color: #ff0;
      }
    }

/* ==========================================================================
   Parallax
   ========================================================================== */

.bv-parallax{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

    &--left   {
      background-attachment: fixed;
      background-position: 32% 50%;
      background-repeat: no-repeat;
      background-size: cover;}


    &--right   {
      background-attachment: fixed;
      background-position: 60% 50%;
      background-repeat: no-repeat;
      background-size: cover;}

    &--darkest   {
      background-attachment: fixed;
      background-color: rgba(5,20,40,0.9);
      background-blend-mode: multiply;
      background-position: center;
      background-size: cover;}

    &--darker   {
      background-attachment: fixed;
      background-color: rgba(5,20,40,0.8);
      background-blend-mode: multiply;
      background-position: center;
      background-size: cover;}

    &--dark   {
      background-attachment: fixed;
      background-color: rgba(5,20,40,0.7);
      background-blend-mode: multiply;
      background-position: center;
      background-size: cover;}

    &--lighter   {
      background-attachment: fixed;
      background-color: rgba(250,250,250,0.7);
      background-blend-mode: lighten;
      background-position: center;
      background-size: cover;
      }

    &--light   {
      background-attachment: fixed;
      background-color: rgba(250,250,250,0.5);
      background-blend-mode: color;
      background-position: center;
      background-size: cover; }

    &--white   {
      background-attachment: fixed;
      background-color: rgba(250,250,250,0.8);
      background-blend-mode: overlay;
      background-position: center;
      background-size: cover; }

}


@media only screen and (max-width: 1024px) {

.bv-remove-bg{

  background-image: none!important;

  &--black{
    background-image: none!important;
    background-color: #000;}
}

.bv-parallax{
      background-attachment: scroll;
      background-size: cover;

      &--left   {
        background-attachment: scroll;
        background-position: 32% 50%;
        background-repeat: no-repeat;
        background-size: cover;}


      &--right   {
        background-attachment: scroll;
        background-position: 60% 50%;
        background-repeat: no-repeat;
        background-size: cover;}



    &--darkest   {
      background-attachment: scroll;
      background-size: cover;
    }
      &--darker   {
        background-attachment: scroll;
        background-size: cover;
      }
      &--dark   {
        background-attachment: scroll;
        background-size: cover;
        }

      &--lighter   {
        background-attachment: scroll;
        background-size: cover;
        background-color: none;

      }
      &--light   {
        background-attachment: scroll;
        background-size: cover;
        background-color: none;
     }
     &--white   {
       background-attachment: scroll;
       background-size: cover;
       background-color: none;
    }

    }

}


.bv-drawing{

  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-size: cover;

}



/* ==========================================================================
bv-collapsible
========================================================================== */


/* Style the element that is used to open and close the accordion class */
p.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom:10px;
}

/* Add a background color to the accordion if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
p.accordion.active, p.accordion:hover {
    background-color: #ddd;
}

/* Unicode character for "plus" sign (+) */
p.accordion:after {
    content: '\2795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

/* Unicode character for "minus" sign (-) */
p.accordion.active:after {
    content: "\2796";
}

/* Style the element that is used for the panel class */

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
    margin-bottom:10px;
}

div.panel.show {
    opacity: 1;
    max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}

/******/

.bv-collapsible {

  cursor: pointer;
  padding: 12px 0;
  width: 220px;
  border: none;
  text-align: center;
  outline: none;
  color: $white;
  background-color: $i-blue;
  //border-bottom: 2px solid $i-blue;
  border-radius: 4px;
  margin-bottom: 30px;
}

.bv-active, .bv-collapsible:hover {

  //background-color: #f00;
}

.bv-collapsible:after {
  //transform:  rotate(-90deg);
  //display: block;
  content: ' ansehen ';
  //background-image: url('../img/icons/arrow-left.svg');
  /*background-size: 8px 18px;
  height: 18px;
  width: 8px;
  margin: -21px 0 0 120px;*/

}

.bv-active:after {
//  transform:  rotate(90deg);
  //display: block;
  content: ' schließen ';
  //background-image: url('../img/icons/arrow-left.svg');
  /*background-size: 8px 18px;
  height: 18px;
  width: 8px;*/
  //margin: -22px 0 0 90px;

}

.bv-content {
  //padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-out;
}




/* ==========================================================================
Insidertipps
========================================================================== */

.bv-img-insider{
  width: 75%;
  max-width: $lg;
  @include bp($xl) {
    width: 25%;
    max-width: none;
  }
}

.bv-img-circle {
  border-radius: 500px;
  border: 4px $white solid;
}

/*************** offer tag for included tag *******************/
.flight-tag {
  position: absolute;
  top: $s-2;
  left: $s-2;
  display: block;
  width: 50%;
  @include bp($sm){
    top: $s0;
    left: $s0;
    width: 146px;
  }
}
