---
layout: default
---


<div class="container container--xl text--center text--lg space--xxl">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore illum saepe velit assumenda praesentium quo dolores dolorem maiores ducimus, aperiam laborum, eveniet nostrum quia? Deleniti nobis, quasi adipisci cumque quia ullam voluptatibus consectetur mollitia neque ea eius, accusamus dignissimos debitis maxime dolore culpa facilis reprehenderit totam fugiat necessitatibus? Velit, dolorem.</p>
</div>


<div class="space--xxxl">

{% for section in site.data.[page.id] %}
    <div class="harvey{% cycle '', ' harvey--swap' %}">
      <div class="harvey__img" style="background-image: url('{{site.img}}/img.jpg');">
        <a href="{{site.baseurl}}{{page.url}}" class="harvey__link"></a>
      </div>
      <div class="harvey__text">
        <h2 class="title title--xl">{{section.title}}</h2>
        <p>{{section.description}}</p>
        <div class="space--sm"></div>

      </div>
    </div>
 {% endfor %}
</div>
