---
layout: default
---



<div class=" vpad--xxl {{page.colour}}">
  <div class="container">
    <div class="width width--xl text--serif text--left text--normal text--xxl text--white " >
      <div class=" text--serif-lg">{{page.intro-title}}</div>
       <p>{{page.intro}}</p>
    </div>
  </div>
</div>




{% for section in site.data[page.id] %}
    <div id="{{page.id}}" class="harvey{% cycle '', ' harvey--swap' %}">
      <div class="harvey__img" style="background-image: url('{{site.img}}/content/{{page.id}}/{{section.img}}.jpg');">
        <a href="{{site.baseurl}}{{page.url}}" class="harvey__link"></a>
      </div>
      <div class="harvey__text boxpad--lg">
        <h2 class="title title--xl">{{section.title}}</h2>
        <p>{{section.description}}</p>
        <div class="space--sm"></div>

      </div>
    </div>
 {% endfor %}
