---
layout: default
---


<div class=" vpad--xxl {{page.colour}} bv-parallax bv-drawing" style="background-image: url('{{site.img}}/icons/{{page.drawing}}.png');">
  <div class="container">
    <div class="width width--xl text--serif text--left text--normal text--xxl text--white " >
      <div class=" text--serif-lg">{{page.intro-title}}</div>
       <div class="text--serif-italic">{{page.intro}}</div>
    </div>
  </div>
</div>


<div class="space--xxxl"></div>

{% for section in site.data[page.id] %}
<div class="container vpad--md">
  <div class="row row--3-3-3-3 row--gutters ">

    <div class="col--lg--3 col--middle bv-img-insider boxpad--lg">
      <div class="bg-img bg-img--1-1 bv-img-circle " style="background-image: url('{{site.img}}/content/{{page.id}}/{{section.img}}.jpg');  " ></div>
    </div>
    <div class="col col--9" style="margin-top:-15px;">
      <h3 class="title title--md bv-headline-divider">{{section.title}}:</h3>
      <p class="text--xxxl text--italic text--serif">"{{section.description}}"</p>


    </div>
  </div>
</div>
  {% endfor %}

<div class="space--xxxl"></div>
  <!--
<div class="row row--4-4-4 row--gutters">
      {% for poi in section.pois1.items %}

      <div class="col">
        <a href="javascript:void(0);" data-modal-item="{{poi.id}}" data-modal-group="section" class="js-open-modal bg-img bg-img--4-3" style="background-image:url({{site.img}}/content/{{page.id}}/photos/{{poi.id}}.jpg);">
        <span class="bg-img__expand"></span></a>
        <div class="space--md"></div>
        <h5 class="title title--xxs text--bold">{{poi.title}}</h5>
        <p>{{poi.content}}</p>
      </div>


      {% endfor %}
</div> -->
